MVVM CodeFirst & WCF/WpfApplication2/Service References/ServiceReference1/CourseService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59178/CourseService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WpfApplication1.Models" />
  <xs:element name="GetCourse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WpfApplication1.Models" minOccurs="0" name="GetCourseResult" nillable="true" type="q1:ArrayOfCourse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>